  services:
    traefik:
      image: "traefik:latest"
      container_name: traefik
      command:
        - "--log.level=DEBUG"
        - "--api.insecure=true"
        - "--providers.docker=true"
        - "--entryPoints.web.address=:80"
      ports:
        - 80:80
        - ${TRAEFIK_PORT}:8080
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      labels:  
        - traefik.enable=true
        - traefik.http.routers.traefik.entrypoints=web
        - traefik.http.routers.traefik.rule=Host(`${TRAEFIK_HOST}`)
        - traefik.http.services.traefik.loadbalancer.server.port=80
        - homepage.group=Utils
        - homepage.name=Traefik
        - homepage.icon=traefik.png
        - homepage.href=http://${TRAEFIK_HOST}/