PUID=1000
PGID=1000
TZ=America/Chicago
UMASK=022

# HOST
HOST_DOMAIN=servarr.local

# Paths
# CACHE_DRIVE=/mnt/cache
DATA_BASE_PATH=/mnt/arr/data
MEDIA_BASE_PATH=${DATA_BASE_PATH}/media
DOWNLOADS_BASE_PATH=${DATA_BASE_PATH}/downloads

# Media Paths
MEDIA_MOVIES_PATH=${MEDIA_BASE_PATH}/movies
MEDIA_SERIES_PATH=${MEDIA_BASE_PATH}/series
MEDIA_MUSIC_PATH=${MEDIA_BASE_PATH}/music
MEDIA_COMICS_PATH=${MEDIA_BASE_PATH}/comics
MEDIA_EBOOKS_PATH=${MEDIA_BASE_PATH}/ebooks
MEDIA_MANGA_PATH=${MEDIA_BASE_PATH}/manga

# Download Paths
DOWNLOAD_MOVIES_PATH=${DOWNLOADS_BASE_PATH}/movies
DOWNLOAD_SERIES_PATH=${DOWNLOADS_BASE_PATH}/series
DOWNLOAD_YOUTUBE_PATH=${DOWNLOADS_BASE_PATH}/youtube
DOWNLOAD_MUSIC_PATH=${DOWNLOADS_BASE_PATH}/music
DOWNLOAD_COMICS_PATH=${DOWNLOADS_BASE_PATH}/comics
DOWNLOAD_TORRENT_PATH=${DOWNLOADS_BASE_PATH}/torrent
DOWNLOAD_NZBD_PATH=${DOWNLOADS_BASE_PATH}/nzbd

# checkrr
CHECKRR_REF=tdarr
HOST_CHECKRR_URL=${CHECKRR_REF}.${HOST_DOMAIN}
CHECKRR_PORT=8585

# Dozzle
DOZZLE_REF=dozzle
HOST_DOZZLE_URL=${DOZZLE_REF}.${HOST_DOMAIN}
DOZZLE_PORT=8082

# Gluetun
GLUETUN_REFNAME=gluetun
GLUETUN_PORT=

# Homepage
HOMEPAGE_REF=homepage
HOST_HOMEPAGE_URL=${HOMEPAGE_REF}.${HOST_DOMAIN}
HOMEPAGE_UI_PORT=3000
HOMEPAGE_ALLOWED_HOSTS=*

# Jellyfin
JELLYFIN_REF=jellyfin
HOST_JELLYFIN_URL=${JELLYFIN_REF}.${HOST_DOMAIN}
JELLYFIN_PORT=8096

# Lidarr
LIDARR_REF=lidarr
HOST_LIDARR_URL=${LIDARR_REF}.${HOST_DOMAIN}
LIDARR_PORT=8686
LIDARR_API_KEY=

# Prowlarr
PROWLARR_REF=prowlarr
PROWLARR_HOST_URL=${PROWLARR_REF}.${HOST_DOMAIN}
PROWLARR_PORT=9696

# Radarr
RADARR_REF=radarr
RADARR_HOST_URL=${RADARR_REF}.${HOST_DOMAIN}
RADARR_PORT=7878
RADARR_API_KEY=

# SABnzbd
SABNZBD_REF=sabnzbd
HOST_SABNZBD_URL=${SABNZBD_REF}.${HOST_DOMAIN}
SABNZBD_UI_PORT=8080

# Sonarr
SONARR_REF=sonarr
HOST_SONARR_URL=${SONARR_REF}.${HOST_DOMAIN}
SONARR_UI_PORT=8989
SONARR_API_KEY=

# Tdarr
TDARR_REF=tdarr
HOST_TDARR_URL=${TDARR_REF}.${HOST_DOMAIN}
TDARR_PORT=8265

# Traefik
TRAEFIK_REF=traefik
HOST_TRAEFIK_URL=${TRAEFIK_REF}.${HOST_DOMAIN}
TRAEFIK_PORT=8089